<a href="https://colab.research.google.com/github/skywalker0803r/deep-learning-ian-goodfellow/blob/master/chatgpt%E8%82%A1%E7%A5%A8%E4%BA%8C%E9%83%A8%E6%9B%B2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import yfinance as yf
import pandas as pd
import numpy as np
import datetime as dt
import requests

# 設定要取得的股票代碼和時間範圍
ticker = "AAPL"
start_date = dt.datetime(2016, 1, 1)
end_date = dt.datetime(2021, 12, 31)

# 使用 yfinance 取得股票價格資料
df = yf.download(ticker, start=start_date, end=end_date)

# 新增其他相關數據欄位
# 市場情緒：VIX波動率指數
vix_url = "https://fred.stlouisfed.org/graph/fredgraph.csv?id=VIXCLS"
vix_df = pd.read_csv(vix_url, index_col=0, parse_dates=True)
df = pd.merge(df, vix_df, how='left', left_index=True, right_index=True)

# 政治因素：美國總統就職日期
inauguration_dates = {
    'Trump': '2017-01-20',
    'Biden': '2021-01-20'
}
df['Inauguration'] = np.nan
for president, date in inauguration_dates.items():
    inauguration = pd.to_datetime(date)
    df['Inauguration'][df.index >= inauguration] = president

# 移除缺失值
df = df.dropna()

# 儲存處理後的資料
df.to_csv('stock_data.csv')

[*********************100%***********************]  1 of 1 completed

<ipython-input-5-1f13c3fdbd05>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Inauguration'][df.index >= inauguration] = president

In [6]:
df

,Open,High,Low,Close,Adj Close,Volume,VIXCLS,Inauguration
Date,,,,,,,,
2017-01-20,30.112499,30.112499,29.932501,30.000000,28.032705,130391600,11.54,Trump
2017-01-23,30.000000,30.202499,29.942499,30.020000,28.051399,88200800,11.77,Trump
2017-01-24,29.887501,30.025000,29.875000,29.992500,28.025698,92844000,11.07,Trump
2017-01-25,30.105000,30.525000,30.070000,30.469999,28.471888,129510400,10.81,Trump
2017-01-26,30.417500,30.610001,30.400000,30.485001,28.485903,105350400,10.63,Trump
...,...,...,...,...,...,...,...,...
2021-12-23,175.850006,176.850006,175.270004,176.279999,174.995621,68356600,17.96,Biden
2021-12-27,177.089996,180.419998,177.070007,180.330002,179.016129,74919600,17.68,Biden
2021-12-28,180.160004,181.330002,178.529999,179.289993,177.983673,79144300,17.54,Biden
2021-12-29,179.330002,180.630005,178.139999,179.380005,178.073029,62348900,16.95,Biden
2021-12-30,179.470001,180.570007,178.089996,178.199997,176.901627,59773000,17.33,Biden