<a href="https://colab.research.google.com/github/skywalker0803r/deep-learning-ian-goodfellow/blob/master/fill_miss_value.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
import pandas as pd
import numpy as np
df = pd.DataFrame()
df['C1'] = [None,1,2]
df['C2'] = [0,None,2]
df['C3'] = [0,1,2]
df

    C1   C2  C3
0  NaN  0.0   0
1  1.0  NaN   1
2  2.0  2.0   2

In [51]:
# Function to calculate missing values by column# Funct 
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns
missing_values_table(df)

Your selected dataframe has 3 columns.
There are 2 columns that have missing values.

    Missing Values  % of Total Values
C1               1               33.3
C2               1               33.3

In [52]:
miss_value_col = missing_values_table(df).index.tolist()
miss_value_col

Your selected dataframe has 3 columns.
There are 2 columns that have missing values.

['C1', 'C2']

In [53]:
def fill_miss_value(df,miss_value_col):
  df = df.fillna('NaN')
  for i in df.index:
    for j in miss_value_col:
      if df.loc[i,j] == 'NaN':
        df.loc[i,f'{j}_is_miss'] = 1.0
      else:
        df.loc[i,f'{j}_is_miss'] = 0.0
  for i in miss_value_col:
    df[i] = df[i].replace('NaN',df[i].median())
  return df

In [54]:
df = fill_miss_value(df,miss_value_col)
df

    C1   C2  C3  C1_is_miss  C2_is_miss
0  1.5  0.0   0         1.0         0.0
1  1.0  1.0   1         0.0         1.0
2  2.0  2.0   2         0.0         0.0